@import "src/sass/variables/variables";
@import "src/sass/variables/extensions";

.projects {
  background-color: $secondTextColor;
  margin-top: -10px;

  &__container {
    @extend %container;
  }

  &__title {
    @extend %title;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-template-rows: repeat(2, 1.5fr);
    grid-row-gap: 35px;
    padding-top: 20px;

    @include mediaQuery($large) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    @include mediaQuery($mobileL) {
      grid-template-columns: 1fr;
    }

    @include mediaQuery($mobileM) {
      grid-template-columns: 1fr;
    }

    @include mediaQuery($mobile) {
      grid-template-columns: 1fr;
    }
  }
}