@import "src/sass/variables/variables";
@import "src/sass/variables/extensions";


.btn {
  @include makeWH(100px, 30px);
  border-radius: 5px;
  background-color: #cec6c6;
  color: #69bdad;
  font: 700 .9rem $additionalFont1;
  opacity: 0.4;
  text-transform: uppercase;

  &:hover {
    opacity: 1;
  }

  &_upper {
  }

  &_bigger {
    @include makeWH(130px, 40px);
    bottom: 0;
    font-size: 1.1rem;
  }
}