@import "src/sass/variables/variables";
@import "src/sass/variables/extensions";

.projectItem {
  min-height: 350px;
  @include flexDirection(column);
  @extend %flexCenter;
  box-sizing: border-box;


  @include mediaQuery($tablet) {
    max-width: 290px;
  }

  @include mediaQuery($mobileL) {
    max-width: 300px;
    justify-self: center;
  }

  @include mediaQuery($mobileM) {
    max-width: 275px;
    justify-self: center;
  }

  @include mediaQuery($mobile) {
    max-width: 240px;
    justify-self: center;
  }

  &__picBlock {
    width: 90%;
    @include flexCenter;
    position: relative;
    transition: transform .8s ease-in .2s;

    &:hover {
      transform: scale(0.95);
    }
  }

  &__btnBlock {
    @extend %posABtn;
  }

  &__pic {
    width: 100%;
    min-height: 260px;
    justify-self: center;
    align-self: center;

    @include mediaQuery($tablet) {
      min-height: 180px;
    }
  }

  &__textBlock {
    @include makeWH(290px, 120px);
    padding: 10px;
    box-sizing: border-box;


    @include mediaQuery($mobile) {
      width: 100%;
      padding: 5px;
    }
  }

  &__name {
    font: 700 18px/1.3 $mainFont;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    color: $mainTextColor;
    padding: 10px 0;

    span {
      border-bottom: 2px $mainTextColor dashed;
    }

    @include mediaQuery($tablet) {
      font-size: .9rem;
    }
  }

  &__descr {
    margin-top: 5px;
    font: 300 .8rem/1.0 $mainFont;
    color: $mainTextColor;
    padding: 5px 0;

    &::first-letter {
      @extend %firstLetter;
    }
    span {
      margin-right: 5px;
      font-weight: 500;
      font-size: 0.9rem;
    }

    @include mediaQuery($tablet) {
      font-size: .9rem;
    }

    @include mediaQuery($mobile) {
      font-size: .75rem;
    }
  }

  &__stack {
    color: $mainTextColor;
    margin-top: 5px;
    font: 300 .9rem/1.0 $mainFont;

    span {
      margin-right: 5px;
      font-weight: 500;
    }

    &::first-letter {
      @extend %firstLetter;
    }

    @include mediaQuery($tablet) {
      font-size: .9rem;
    }

    @include mediaQuery($mobileL) {
      font-size: .85rem;
    }

    @include mediaQuery($mobileM) {
      font-size: .8rem;
    }

    @include mediaQuery($mobile) {
      font-size: .75rem;
    }
  }
}

@keyframes visit {
  0% {left: 0; opacity: 0.3}
  100% {left: 70px;opacity: 1.0}
}