@import "src/sass/variables/variables";
@import "src/components/main/Main.module";

.container {
  width: 100%;
  margin: 0 auto;
  background-color: black;

  &__upload {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    transform: rotate(-90deg);
    @include makeWH(30px, 30px);
    background-color: white;
    border-radius: 25%;
    border: 2px gray;

    @include mediaQuery($mobile) {
      bottom: 5px;
      right: 5px;
    }

    &_show {
      display: initial;
    }
  }
}