@import "src/sass/variables/variables";
@import "src/sass/variables/extensions";

.main {
  @include flexDirection(row);
  @extend %spaceB;
  background-color: #4f4e4e;

  &__container {
    height: 100vh;
    @include flexDirection(row);
    @extend %spaceB;
    @extend %container;
    padding-top: 35px;

    @include mediaQuery($mobileL) {
      @include marginHeight(30px, 30px);
      flex-direction: column;
      height: auto;
    }

    @include mediaQuery($mobileM) {
      @include marginHeight(25px, 25px);
      flex-direction: column;
      height: auto;
    }

    @include mediaQuery($mobile) {
      @include marginHeight(30px, 30px);
      flex-direction: column;
      height: auto;
    }
  }

  &__text {
    text-align: left;
    font: 500 1.1rem/1.4 $mainFont;
    color: #fff;
    & h3 {
      padding-bottom: 15px;
    }

    * {

      @include mediaQuery($mobile) {
        padding: 5px 0 2px 0;
        margin: 0;
      }

      @include mediaQuery($mobileM) {
        padding: 5px 0 2px 0;
        margin: 0;
      }
    }
  }

  &__bottomBorder {
    position: relative;
    z-index: 2;
    font-family: 'Monoton', cursive;
    font-size: 2.5rem;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 5px;
      width: 103%;
      z-index: 1;
      opacity: 0.5;
      background: #000000;
    }
  }

  &__photo {
    position: relative;
    @include makeWH(250px, 400px);
    border: 8px black dashed;
    border-radius: 10px;

    @include mediaQuery($mobile) {
      @include makeWH(200px, 250px);
    }

    @include mediaQuery($mobileM) {
      @include makeWH(200px, 250px);
    }
  }

  &__photoFrame {
    @include makeWH(250px, 400px);
    position: absolute;
    left: -20px;
    top: 20px;
    z-index: 1;
    background: url("https://images5.alphacoders.com/924/924242.jpg") center/cover no-repeat;
    border-radius: 10px;

    @include mediaQuery($mobile) {
      @include makeWH(200px, 250px);
      left: 10px;
      top: 10px;
    }

    @include mediaQuery($mobileM) {
      @include makeWH(200px, 250px);
      left: 10px;
      top: 10px;
    }
  }
}