@import "src/sass/variables/variables";
@import "src/components/main/Main.module";

.skills {
  background-color: #b384d5;
  padding-top: 10px;

  &__container {
    @extend %container;
  }

  &__title {
    @extend %title;
  }

  &__grid {
    border: 2px solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 50px;

    @include mediaQuery($mobileL) {
      grid-template-columns: 1fr;
      grid-row-gap: 10px;
    }

    @include mediaQuery($mobileM) {
      grid-template-columns: 1fr;
      grid-row-gap: 5px;
    }

    @include mediaQuery($mobile) {
      grid-template-columns: 1fr;
      grid-row-gap: 5px;
    }
  }
}