%spaceB {
  justify-content: space-between;
  align-items: center;
}
%projectPadding {
  padding: 20px 150px;
}

%title {
  font: 700 1.6rem/1.6 "Century Gothic";
  text-align: center;
  margin: 10px 20px;
  border: 2px solid darkred;
}
