$whitecolor: #ffffff;
$yellowcolor: #7d8028;
$darkredcolor: #7f2121;
$violetcolor: #3e136a;
$darkcolor: rgba(0, 0, 0, 1);
$mainTextColor: whitesmoke;
//background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;
$mainFont: "Poppins";
$additionalFont1: "Monoton";
$linearGrad: linear-gradient(black, #393636, black);



$font-weights: (
        "thin" : 300,
        "regular": 400,
        "medium": 500,
        "bold" : 700,
        "bbold": 800,
);


@mixin makeWH($width, $height) {
  width: $width;
  height: $height;
}

@function getWeight($weight-name) {
  @return map_get($font-weights, $weight-name)
}

@mixin flexDirection($direction) {
  display: flex;
  flex-flow: $direction nowrap;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin coverBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

$mobile: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$tabletXL: 920px;
$large: 1024px;
$smallNote: 1200px;
$desktop: 1280px;

@mixin mediaQuery($resolution) {
  @media only screen and (max-width: $resolution) {
    @content;
  }
}

/*@mixin mobile {
  @media (max-width: $mobile) {
    @content
  }
}*/

@mixin tablet {
  @media only screen and (min-width: $tablet * 1px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $large * 1px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop * 1px) {
    @content;
  }
}

/*@mixin textBlock($block) {
  //in ProjectItem
  &__$block {
  margin-top: 5px;
  font: 300 .9rem/1.0 $mainFont;

  span {
    margin-right: 5px;
    font-weight: 500;
  }

  &::first-letter {
    @extend %firstLetter;
  }

  @include mediaQuery($tablet) {
    font-size: .9rem;
  }

  @include mediaQuery($mobileL) {
    font-size: .85rem;
  }

  @include mediaQuery($mobileM) {
    font-size: .8rem;
  }

  @include mediaQuery($mobile) {
    font-size: .75rem;
  }
}
}*/


