@import "src/sass/variables/extensions";
@import "src/sass/variables/variables";

.header {
  height: 60px;
  background-color: $darkcolor;
  color: whitesmoke;
  @include flexCenter;
  position: fixed;
  left: 0;
  right: 0;
  transition: top 2s ease-in-out 1s;
  z-index: 99;

  &_visible {
    top: 0;
    bottom: 0;
    height: auto;
  }

  &__container {
    @extend %container;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &_visible {
      justify-content: center;
      align-items: flex-start;
    }

    @include mediaQuery($mobile) {
      justify-content: center;
    }

    @include mediaQuery($mobileM) {
      justify-content: center;
    }
  }
}