@import "src/sass/variables/variables";
@import "src/sass/variables/extensions";

%leftPartOfIcon {
  @extend %menuIcon;
  width: 50%;
  align-self: flex-start;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
  width: 30%;

  &_visible {
    width: 80%;
    //position: absolute;
    top: 30px;
  }

  &__linkBlock {
    opacity: 0;
    display: flex;
    @include flexDirection(column);

    &_show {
      opacity: 1;
      position: absolute;
      top: 75px;
      left: 100px;
    }
  }

  &__link {
    font: 700 38px/1.6 'Poppins', sans-serif;
    color: #fff;
    transition: letter-spacing 0.5s ease-in-out 0s;

    &:hover {
      letter-spacing: 2px;

    }
  }

  @include mediaQuery($mobile) {
    width: 80%;
    margin-right: 0;
    justify-content: space-evenly;
  }

  @include mediaQuery($mobileM) {
    width: 80%;
    margin-right: 0;
    justify-content: space-evenly;
  }

  @include mediaQuery($mobileL) {
    width: 80%;
    margin-right: 0;
    justify-content: space-evenly;
  }

  &_active {
    //border-bottom: 2px solid;
    opacity: 0.5;
  }

  &__menuIcon {
    box-sizing: border-box;
    @include makeWH(25px, 25px);
    @include flexCenter;
    flex-flow: column nowrap;
    transition: transform .2s ease, background-color .5s ease;
    top: 20px;
    position: absolute;
    right: 100px;

    @include mediaQuery($mobile) {
      right: 20px;
    }

    @include mediaQuery($mobileM) {
      right: 25px;
    }

    @include mediaQuery($mobileL) {
      right: 30px;
    }

    &_left {
      @extend %leftPartOfIcon;
    }

    &_leftVisible {
      @extend %leftPartOfIcon;
      transform: rotate(45deg);
      width: 35%;
    }

    &_mid {
      @extend %menuIcon;
    }

    &_midVisible {
      @extend %menuIcon;
      transform: rotate(135deg);
      width: 110%;
    }

    &_right {
      @extend %menuIcon;
      width: 50%;
      align-self: flex-end;
    }

    &_rightVisible {
      @extend %leftPartOfIcon;
      align-self: flex-end;
      transform: rotate(45deg);
      width: 45%;
    }
  }
}