@import "src/sass/variables/variables";

.nav {
  position: fixed;
  z-index: 999;
  @include flexDirection(row);
  justify-content: space-between;
  margin-right: 150px;
  width: 30%;

  &_active {
    border-bottom: 3px solid;
    text-shadow: 3px 3px 9px black;
    opacity: 0.5;
    background-color: #aaa6a6;
  }
}