@import "src/sass/variables/variables";
@import "src/sass/variables/extensions";

%placeholderFontSize {
  &::-webkit-input-placeholder {
    font-size: 16px;
  }
  &::-moz-placeholder {
    font-size: 16px;
  }
}

.contacts {
  @include flexDirection(column);
  @extend %flexCenter;
  //border: 2px coral solid;
  background-color: black;
  padding-bottom: 10px;

  &__container {
    @include flexDirection(column);
    @extend %flexCenter;
    position: relative;
    min-height: 400px;
    @extend %container;
  }

  &__text {
    position: absolute;
    margin: 0 auto;
    top: 40px;
    @extend %title;
  }

  &__form {
    @include flexDirection(column);
    min-width: 400px;

    @include mediaQuery($mobileL) {
      min-width: 300px;
    }

    @include mediaQuery($mobileM) {
      min-width: 275px;
    }

    @include mediaQuery($mobile) {
      min-width: 240px;
    }
  }

  &__input {
    background-color: $secondTextColor;
    @extend %placeholderFontSize;
  }

  &__textArea {
    background-color: $secondTextColor;
    min-height: 80px;
    @extend %placeholderFontSize;
  }

  &__btn {
    position: absolute;
    margin: 0 auto;
    bottom: 10px;
  }
}
